.flexContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.flexLine {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}