.externo {
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    background: linear-gradient(139deg, #020914 5.77%, #0C1F3D 89.37%);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.75), -2px -2px 4px 0px rgba(0, 8, 20, 0.80) inset, 2px 2px 4px 0px rgba(228, 231, 240, 0.12) inset;
}

.interno {
    display: flex;
    width: 1.5625rem;
    height: 1.5625rem;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    background: linear-gradient(139deg, #CAD3E3 5.77%, #EFF3FA 89.37%);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.20), -1px -1px 4px 0px rgba(76, 92, 120, 0.80) inset, 2px 2px 4px 0px rgba(228, 231, 240, 0.60) inset;
    cursor: pointer;
}

