* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rajdhani", sans-serif;
  font-style: normal;
}

:root {
  --text-size-small: 0.875rem;
  --text-size-medium: 1.125rem;
  --text-size-large: 3rem;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Não selecionável em geral */
}